<div id="<%= dom_id article %>">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">by <%= article.user.email %></h6>
      <p class="card-text"><%= article.body %></p>
    </div>

    <ul class="list-group list-group-flush">
      <% article.comments.each do |comment| %>
        <li class="list-group-item">
          <small><%= comment.user.email %></small><br>
          <%= comment.body %><br>
          <small><%= link_to 'Delete', comment_path(comment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></small>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render 'comments/form', article: @article, comment: @comment if action_name == 'show' %>
</div>
