<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.user.email %>
  </p>

  <strong>Comments:</strong>
  <ul>
    <% article.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
  </ul>

  <%= render 'comments/form', article: @article, comment: @comment if action_name == 'show' %>
</div>
