<p style="color: green"><%= notice %></p>

<%= render 'search' %>

<div id="articles">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-4">
        <% cache article do %>
          <%= render article %>
        <% end %>
      </div>
    <% end %>

    <%= will_paginate @articles %>
  </div>
</div>

<%= link_to "New article", new_article_path %>
