<div id="<%= dom_id reaction %>">
  <p>
    <strong>Status:</strong>
    <%= reaction.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reaction.user_id %>
  </p>

  <p>
    <strong>Reactionable type:</strong>
    <%= reaction.reactionable_type %>
  </p>

  <p>
    <strong>Reactionable:</strong>
    <%= reaction.reactionable_id %>
  </p>

</div>
